.cont{
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(7,1fr);
    text-align: center;
    gap: 10px;
}
.cont > div{
    background-color:#46b2fd ;
    display: grid;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}